<footer>
    <div class="container">
        <div class="footer__top row">
            <div class="footer__top__left">
                <a href="" class="footer__logo">
                    <img src="assets/img/logo.png" alt="">
                </a>
                <p>Ремонт кровли в Москве</p>
                <div class="row">
                    <div class="footer__sub">
                        ИП ДОЛГУНОВ, 2022 г.
                    </div>
                    <a href="" class="footer__sub">
                        Политика конфиденциальности
                    </a>
                </div>
            </div>
            <div class="footer__top__right row row-space">
                <div class="footer__top__col">
                    <ul>
                        <li><a href="">Ремонт кровли</a></li>
                        <li><a href="">Фотогалерея</a></li>
                        <li><a href="">Цены</a></li>
                        <li><a href="">Контакты</a></li>
                        <li><a href="">Акции</a></li>
                    </ul>
                </div>
                <div class="footer__top__col">
                    <span>Монтаж сайдинга</span>
                    <ul>
                        <li><a href="">Обшивка и отделка сайдингом</a></li>
                        <li><a href="">Монтаж металлосайдинга</a></li>
                        <li><a href="">Монтаж обрешетки</a></li>
                        <li><a href="">Обшивка окон и цоколя</a></li>
                    </ul>
                </div>
                <div class="footer__top__col">
                    <span>Монтаж сайдинга</span>
                    <ul>
                        <li><a href="">Обшивка и отделка сайдингом</a></li>
                        <li><a href="">Монтаж металлосайдинга</a></li>
                        <li><a href="">Монтаж обрешетки</a></li>
                        <li><a href="">Обшивка окон и цоколя</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="footer__bottom">
        <div class="container">
            <div class="menu__bottom__right row align-center">
                <a href="tel:+7 (965) 146-30-00 " class="row align-center">
                    <img src="assets/files/phone.svg" alt="">
                    <img src="assets/files/viber.svg" alt="">
                    <span>+7 (965) 146-30-00 </span>
                </a>
                <a href="" class="row align-center">
                    <img src="assets/files/skype.svg" alt="">
                    <span>ivan1981956</span>
                </a>
            </div>
            <p>
                Данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является
                публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации. Мы
                не храним, не передаем, не используем куки. Отправляя любую форму на сайте, вы соглашаетесь с политикой
                конфиденциальности (Политика в отношении обработки персональных данных). 2020 © Копирайт - Все права
                защищены..
            </p>
        </div>
    </div>
</footer>


<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- Swiper -->
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<!-- Fancybox -->
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

<!-- Script -->
<script src="assets/js/app.min.js"></script>
</body>

</html>