<section class="form">
	<div class="container">
		<div class="form__wrapper row">
			<div class="form__left">
				<img src="assets/img/img5.png" alt="">
			</div>
			<div class="form__right">
				<p>Закажите монтаж сайдинга, монтаж кровли, ремонт кровли в Москве у ИП Долгунова по тел. <a
						href="tel:+7 (965) 146-30-00 ">+7 (965) 146-30-00 </a> или через «Форму контактов».</p>
				<form>
					<div class="row">
						<label>
							<p>Имя</p>
							<input type="text" placeholder="Иван Иванов">
						</label>
						<label>
							<p>Телефон</p>
							<input type="text" placeholder="+7 (___) ___ __ __">
						</label>
					</div>
					<label>
						<p>Сообщение</p>
						<textarea placeholder="">Ваше сообщение...</textarea>
					</label>
					<input type="submit" class="btn2" placeholder="Отправить">
				</form>
			</div>
		</div>
	</div>
</section>