<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@@title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/style.min.css">
</head>

<div class="hidden-menu">
    <div class="menu-close">
        <img src="assets/files/close.svg" alt="">
    </div>
    <div class="hidden-menu__wrapper">
        <ul>
            <p>Монтаж кровли</p>
            <li><a href="">Обшивка и отделка сайдингом</a></li>
            <li><a href="">Монтаж металлосайдинга</a></li>
            <li><a href="">Монтаж обрешетки</a></li>
            <li><a href="">Обшивка окон и цоколя</a></li>
            <li><a href="">Обшивка окон и цоколя</a></li>
        </ul>
        <ul>
            <p>Монтаж кровли</p>
            <li><a href="">Обшивка и отделка сайдингом</a></li>
            <li><a href="">Монтаж металлосайдинга</a></li>
            <li><a href="">Монтаж обрешетки</a></li>
            <li><a href="">Обшивка окон и цоколя</a></li>
            <li><a href="">Обшивка окон и цоколя</a></li>
        </ul>
        <ul class="menu-mob">
            <li><a href="">
                    Ремонт кровли
                </a></li>
            <li><a href="">
                    Фотогалерея
                </a></li>
            <li><a href="">
                    Цены
                </a></li>
            <li><a href="">
                    Контакты
                </a></li>
            <li><a href="">
                    Отзывы
                </a></li>
            <li><a href="">
                    Акции
                </a></li>
        </ul>
        <ul class="menu-mob">
            <li>
                <a href="tel:+7 (965) 146-30-00 " class="row align-center">
                    <img src="assets/files/phone.svg" alt="">
                    <img src="assets/files/viber.svg" alt="">
                    <span>+7 (965) 146-30-00 </span>
                </a>
            </li>
            <li>
                <a href="" class="row align-center">
                    <img src="assets/files/skype.svg" alt="">
                    <span>ivan1981956</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<menu>

    <div class="menu__top row row-space align-center">
        <div class="menu-mob logo-mob">
            <img src="assets/img/logo.png" alt="">
        </div>
        <ul class="menu__main row">
            <li><a href="">Ремонт кровли</a></li>
            <li><a href="">Фотогалерея</a></li>
            <li><a href="">Цены</a></li>
            <li><a href="">Контакты</a></li>
            <li><a href="">Отзывы</a></li>
            <li><a href="">Акции</a></li>
        </ul>
        <div class="menu__trigger row">
            Монтаж
            <div class="menu__trigger__div">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div class="menu__bottom row row-space align-center">
        <a href="" class="menu__logo"><img src="assets/img/logo.png" alt=""></a>
        <div class="menu__bottom__right row align-center">
            <a href="tel:+7 (965) 146-30-00 " class="row align-center">
                <img src="assets/files/phone.svg" alt="">
                <img src="assets/files/viber.svg" alt="">
                <span>+7 (965) 146-30-00 </span>
            </a>
            <a href="" class="row align-center">
                <img src="assets/files/skype.svg" alt="">
                <span>ivan1981956</span>
            </a>
        </div>
    </div>

</menu>



<body>