<section class="photos">
	<div class="container row row-space">
		<div class="photos__left">
			<div class="photos__left__grid">
				<a href="" data-fancybox="grid" data-src="assets/img/img4.png">
					<img src="assets/img/img4.png" alt="">
				</a>
				<a href="" data-fancybox="grid" data-src="assets/img/img4.png">
					<img src="assets/img/img4.png" alt="">
				</a>
				<a href="" data-fancybox="grid" data-src="assets/img/img4.png">
					<img src="assets/img/img4.png" alt="">
				</a>
				<a href="" data-fancybox="grid" data-src="assets/img/img4.png">
					<img src="assets/img/img4.png" alt="">
				</a>
			</div>
			<a href="" class="btn2">К работам</a>
		</div>
		<div class="photos__right">
			<img src="assets/img/img3.png" alt="">
		</div>
	</div>
</section>