<section class="preference">
	<div class="container">
		<div class="preference__title">
			<h2>Наши преимущества</h2>
			<p>Строим кровлю 10 лет, за это время смонтировали 1 200 000 км2 кровли, знаем тонкости строительства и
				качество материалов</p>
			<div class="preference__sub">
				СТРОЙМОНТАЖ
			</div>
		</div>

		<div class="preference__grid">
			<div class="preference__item">
				<img src="assets/files/p1.svg" alt="">
				<p>Гарантия на монтажные работы 5лет</p>
			</div>
			<div class="preference__item">
				<img src="assets/files/p2.svg" alt="">
				<p>Штат монтажников (специалистов по монтажу) только славяне!</p>
			</div>
			<div class="preference__item">
				<img src="assets/files/p3.svg" alt="">
				<p>Скидки при заказе "под ключ"</p>
			</div>
			<div class="preference__item">
				<img src="assets/files/p4.svg" alt="">
				<p>Если нет возможности проживания специалистов на объекте мы установим прицеп-дачу на время монтажа</p>
			</div>
			<div class="preference__item">
				<img src="assets/files/p5.svg" alt="">
				<p>Консультация по подбору материалов бесплатно</p>
			</div>
			<div class="preference__item">
				<img src="assets/files/p6.svg" alt="">
				<p>Клиенту не нужно выезжать на офис, материалы можно оплатить при получении не посредственно на объекте,
					что позволяет экономить время и деньги клиентов</p>
			</div>
			<div class="preference__item">
				<img src="assets/files/p7.svg" alt="">
				<p>Гарантия на монтажные работы 5лет</p>
			</div>
			<div class="preference__item">
				<img src="assets/files/p8.svg" alt="">
				<p>Гарантия на монтажные работы 5лет</p>
			</div>
		</div>
	</div>
</section>