<section class="projects">
	<div class="container">

		<div class="projects__photo">

			<a href="" class="swiper-slide">
				<img src="assets/img/img6.png" alt="">
				<p>Обшивка деревянного дома виниловым сайдиншом</p>
			</a>
			<a href="" class="swiper-slide">
				<img src="assets/img/img6.png" alt="">
				<p>Обшивка деревянного дома виниловым сайдиншом Обшивка деревянного дома виниловым сайдиншом</p>
			</a>
			<a href="" class="swiper-slide">
				<img src="assets/img/img6.png" alt="">
				<p>Обшивка деревянного дома виниловым сайдиншом</p>
			</a>
			<a href="" class="swiper-slide">
				<img src="assets/img/img6.png" alt="">
				<p>Обшивка деревянного дома виниловым сайдиншом</p>
			</a>
			<a href="" class="swiper-slide">
				<img src="assets/img/img6.png" alt="">
				<p>Обшивка деревянного дома виниловым сайдиншом</p>
			</a>
			<a href="" class="swiper-slide">
				<img src="assets/img/img6.png" alt="">
				<p>Обшивка деревянного дома виниловым сайдиншом</p>
			</a>
			<a href="" class="swiper-slide">
				<img src="assets/img/img6.png" alt="">
				<p>Обшивка деревянного дома виниловым сайдиншом</p>
			</a>
			<a href="" class="swiper-slide">
				<img src="assets/img/img6.png" alt="">
				<p>Обшивка деревянного дома виниловым сайдиншом</p>
			</a>

		</div>

	</div>
</section>