<section class="projects">
	<div class="container">
		<h2>Выполненные проекты</h2>
		<div class="swiper-container-projects">
			<div class="swiper-wrapper">
				<a href="" class="swiper-slide">
					<img src="assets/img/img6.png" alt="">
					<p>Обшивка деревянного дома виниловым сайдиншом</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="assets/img/img6.png" alt="">
					<p>Обшивка деревянного дома виниловым сайдиншом Обшивка деревянного дома виниловым сайдиншом</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="assets/img/img6.png" alt="">
					<p>Обшивка деревянного дома виниловым сайдиншом</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="assets/img/img6.png" alt="">
					<p>Обшивка деревянного дома виниловым сайдиншом</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="assets/img/img6.png" alt="">
					<p>Обшивка деревянного дома виниловым сайдиншом</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="assets/img/img6.png" alt="">
					<p>Обшивка деревянного дома виниловым сайдиншом</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="assets/img/img6.png" alt="">
					<p>Обшивка деревянного дома виниловым сайдиншом</p>
				</a>
				<a href="" class="swiper-slide">
					<img src="assets/img/img6.png" alt="">
					<p>Обшивка деревянного дома виниловым сайдиншом</p>
				</a>
			</div>
		</div>
		<div class="projects__nav">
			<div class="reviews-button-prev">
				<img src="assets/files/arr.svg" alt="">
			</div>
			<div class="reviews-button-next">
				<img src="assets/files/arr.svg" alt="">
			</div>
		</div>
	</div>
</section>