<section class="text">
	<div class="container">
		<h2>Текст для СЕО</h2>
		<div class="text__wrapper">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque metus libero, lacinia facilisis mauris
				quis, imperdiet varius enim. Phasellus tristique malesuada nisi eget aliquet. Nullam sagittis efficitur
				lacus, ut feugiat mi efficitur ac. Proin facilisis enim eu enim placerat gravida. Sed posuere viverra
				condimentum. Suspendisse elit odio, suscipit vel scelerisque ut, aliquet vitae arcu. Vivamus cursus id
				turpis vitae euismod. Donec rutrum tincidunt arcu id viverra. Maecenas ultricies at libero vitae tincidunt.
				Nulla ipsum diam, eleifend at ante sed, hendrerit sodales nibh. Donec non turpis non nibh rhoncus porta.
				Integer et turpis viverra, convallis magna quis, tristique est. Cras sollicitudin rhoncus nunc, sit amet
				sagittis felis. Morbi eleifend felis justo, eget rhoncus tortor placerat laoreet. Vestibulum placerat
				tincidunt est, in rutrum augue tincidunt a.</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque metus libero, lacinia facilisis mauris
				quis, imperdiet varius enim. Phasellus tristique malesuada nisi eget aliquet. Nullam sagittis efficitur
				lacus, ut feugiat mi efficitur ac. Proin facilisis enim eu enim placerat gravida. Sed posuere viverra
				condimentum. Suspendisse elit odio, suscipit vel scelerisque ut, aliquet vitae arcu. Vivamus cursus id
				turpis vitae euismod. Donec rutrum tincidunt arcu id viverra. Maecenas ultricies at libero vitae tincidunt.
				Nulla ipsum diam, eleifend at ante sed, hendrerit sodales nibh. Donec non turpis non nibh rhoncus porta.
				Integer et turpis viverra, convallis magna quis, tristique est. Cras sollicitudin rhoncus nunc, sit amet
				sagittis felis. Morbi eleifend felis justo, eget rhoncus tortor placerat laoreet. Vestibulum placerat
				tincidunt est, in rutrum augue tincidunt a.
			</p>
		</div>
	</div>
</section>